# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
# Ignore everything except functions.php
*
!functions.php

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Git-related files
*.orig
*.bak
*.swp
